/*orange: #cc5010
darkgrey: #24292d
beige: #ebe5d7*/

/*font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Great Vibes', cursive;*/

/** {
	border: 1px solid lightblue;
}*/

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

/* Header */
header {
	background: black url(../assets/header.jpg);
	width: 100%;
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	test-align: center;
}

.header-overlay {
	background: rgba(39,62,84,0.2);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .head-img,
header .view-details {
	display: block;
	margin: 0 auto;
}

img.genuine {
	height: 32px;
	margin-bottom: 30px;
}

img.food-passion {
	height: 87px;
}

img.cooking-since {
	height: 40px;
}

button.view-details {
	margin-top: 50px;
	border: none;
	background-color: rgba(240, 80, 19, 0.85);
	padding: 18px 35px;
	border-radius: 3%;
	display: flex;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
}

button.view-details img {
	height: 14px;
	padding-right: 5px;
}

.top-nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	width: 200px;
}

.top-nav a {
	color: white;
}

